@import helper._

@()(implicit req: RequestHeader)

@main("Welcome to Back Test") {
  <h1>Welcome to Back Test!</h1>

  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.BackTestController.main,
    routes.javascript.BackTestController.run
  )

  <form id="backTestParameters">
    <div>
      <dl>
        <dd>start</dd>
        <dt><input type="text" id="start" name="start"></dt>
        <dd>end</dd>
        <dt><input type="text" id="end" name="end"></dt>
      </dl>
      @CSRF.formField
      <input type="button" onclick="run()" value="run"/>
    </div>
  </form>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <script src="@routes.Assets.versioned("javascripts/backtest.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/canvasjs.min.js")"></script>
}
